* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
   display: grid;
   grid-template-columns: auto auto auto auto auto auto;
}
.grid-container>div{
    background-color: rgb(92, 92, 85);
    border: 2px solid rgb(192, 150, 13);
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.stu{
    grid-column: 1 / 7;
}
.item2{
    grid-column: 1 / 2;
}
.item3{
    grid-column: 2 / 6;
}
.item4{
    grid-column: 6 / 7;
}
.item5{
    grid-column: 1 / 7;
}
